<h1>My National Park Trips</h1>

<div class="container-fluid">
  <div class="row home-pics">
    <% @trips.each do |trip| %>
      <div class="col-md-3">
        <%= link_to (image_tag(trip.park.main_image, class: "img-circle", width:"300", height:"300")), park_trip_path(trip.park_id, trip) %>
      </div>
    <% end %>
  </div>
</div>
