//Bootstrap & Bootswatch styling
@import "bootstrap-sprockets";
@import "bootswatch/slate/variables";
@import "bootstrap";
@import "bootswatch/slate/bootswatch";

//Google fonts
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);

//Homepage styling
.navbar-brand, .nav{
  font-family: 'Julius Sans One', sans-serif;
}
.navbar-brand{
  font-size: 36px
}

// Google Maps sizing and directions colors
html {
  height: 100%;
}

body {
  height: 100%; margin: 0; padding: 60px;
}

#map-canvas {
  height: 100%;
}

#directions-canvas {
  height: 100%;
}

#directionsPanel {
  overflow: scroll;
  background-color: #C8C8C8;
  color: black
}

.adp-substep {
  background-color: #C8C8C8
}
